<div class="container">
  <div class="row">
    <div class="col-md-4 m-auto my-5 p-4 shadow bgFormColor">
      <h1 class="text-center textColor">Forgot Password</h1>
      <form [formGroup]="forgotPasswordForm">
        <!-- Email -->
        <div class="">
          <div class="mb-3">
            <label for="email" class="form-label textColor">Email:</label>
            <input
              type="email"
              class="form-control position-relative"
              id="email"
              formControlName="email"
              placeholder="Your Email"
              [ngClass]="{'is-invalid':forgotPasswordForm.controls?.['email']?.invalid && forgotPasswordForm.controls?.['email']?.touched}"
              (keydown)="Space($event)"
            />

            <small
              *ngIf="forgotPasswordForm.controls?.['email']?.errors?.['required']"
              class="invalid-feedback text-danger position-absolute"
            >
              Email is required.
            </small>
          </div>

          <button
            type="submit"
            class="btn btn-primary btnSubmit"
            (click)="onSubmit()"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
