  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto my-4 p-4 shadow bg-white">
        <form [formGroup]="sellerAddProductModalForm">
          <h1 class="text-success">Add Product</h1>
          <!-- Category -->
          <div class="mb-2">
            <label for="categoryDropdown" class="textColor">Category:</label>
            <select id="categoryDropdown" formControlName="category" class="floatDropDown floatDropDown">
              <option *ngFor="let categoryType of categoryTypeOptions" [value]="categoryType.value">
                {{ categoryType.label }}
              </option>
            </select>
          </div>

          <!-- Product Name -->
          <div class="mb-3">
            <label for="productName" class="form-label">Product Name:</label>
            <input type="text" class="form-control" id="productName" formControlName="productName" [ngClass]="{'is-invalid':sellerAddProductModalForm.controls?.['productName']?.invalid && sellerAddProductModalForm.controls?.['productName']?.touched}"/>
            <small *ngIf="sellerAddProductModalForm.controls?.['productName']?.errors?.['required']" class="invalid-feedback text-danger">
              Product Name is required
            </small>
          </div>

          <!-- Description -->
          <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <input type="text" class="form-control" id="description" formControlName="description" [ngClass]="{'is-invalid':sellerAddProductModalForm.controls?.['description']?.invalid && sellerAddProductModalForm.controls?.['description']?.touched}"/>
            <small *ngIf="sellerAddProductModalForm.controls?.['description']?.errors?.['required']" class="invalid-feedback text-danger">
              Description is required
            </small>
          </div>

          <!-- Price -->
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="text" class="form-control" id="price" formControlName="price" [ngClass]="{'is-invalid':sellerAddProductModalForm.controls?.['price']?.invalid && sellerAddProductModalForm.controls?.['price']?.touched}"/>
            <small *ngIf="sellerAddProductModalForm.controls?.['price']?.errors?.['required']" class="invalid-feedback text-danger">
              Price is required
            </small>
          </div>

          <!-- Offer -->
          <div class="mb-3">
            <label for="description" class="form-label">Offer:</label>
            <div class="d-md-flex justify-content-between">
              <div class="col-md-6">
                <mat-form-field>
                  <mat-label>Start Date</mat-label>
                  <input matInput [matDatepicker]="startPicker" formControlName="startDate" placeholder="MM/DD/YYYY"/>
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
                  <mat-datepicker #startPicker></mat-datepicker>
                  <mat-error *ngIf="sellerAddProductModalForm.controls?.['startDate']?.errors?.['required']">
                    Start Date is required
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field>
                  <mat-label>End Date</mat-label>
                  <input matInput [matDatepicker]="endPicker" formControlName="closeDate" placeholder="MM/DD/YYYY"/>
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
                  <mat-datepicker #endPicker></mat-datepicker>
                  <mat-error *ngIf="sellerAddProductModalForm.controls?.['closeDate']?.errors?.['required']">
                    Close Date is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <!-- Discount -->
          <div class="mb-3">
            <label for="discountDropdown" class="textColor">Discount:</label>
            <select id="discountDropdown" formControlName="discount" class="floatDropDown floatDropDown">
              <option *ngFor="let discount of discountOptions" [value]="discount.value">
                {{ discount.label }}
              </option>
            </select>
          </div>

          <!-- Image -->
          <div class="mb-3">
            <button class="img-button p-2 bg-info text-light" mat-button type="button" (click)="filePicker.click()">
              Pick Image
            </button>
            <input type="file" #filePicker (change)="onImagesPicked($event)" />
          </div>
          <div class="image-preview" *ngIf="imagePreviews.length > 0">
            <div class="row">
              <div class="col-md-2">
                <div class="preview-item">
                  <img [src]="imagePreviews" alt="" class="img-fluid" />
                </div>
              </div>
            </div>
            <p class="text-danger" *ngIf="sellerAddProductModalForm.get('image')?.invalid">
              Please select valid image type.
            </p>
          </div>

          <button type="button" class="btn btn-primary" (click)="onSubmitAddProduct()">Save</button>
        </form>
      </div>
    </div>
  </div>