<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1 class="">Hello!</h1>
    <p class="">You requested a password reset. Click the link below to reset
      your password:</p>
    <a href="{{url}}">Reset Password</a>
  </body>
</html>