.bgFormColor {
  background-color: #3c3d37;
}
.textColor {
  color: #ecdfcc;
}
input {
  border: none;
  border-radius: 0;
}
input:focus {
  outline: 0;
  box-shadow: none;
}
.btnSubmit {
  background-color: #ecdfcc;
  color: #3c3d37;
  border: none;
  border-radius: 0;
  float: right;
}
