<div class="container">
  <div class="row">
    <div class="col-md-4 m-auto my-5 p-4 shadow bgFormColor">
      <h1 class="text-center textColor">Reset Password</h1>
      <form [formGroup]="resetPasswordForm">
        <!-- New Password -->
        <div class="mb-4">
          <label for="newPassword" class="form-label textColor"
            >New Password:</label
          >
          <input
            type="{{ hide }}"
            class="form-control position-relative"
            id="newPassword"
            formControlName="newPassword"
            [ngClass]="{'is-invalid':resetPasswordForm.controls?.['newPassword']?.invalid && resetPasswordForm.controls?.['newPassword']?.touched}"
            (keydown)="Space($event)"
          />
          <span class="eye">
            <i
              class="fa fa-{{
                hide == 'password' ? 'eye-slash' : 'eye'
              }} random-eye"
              id="togglePassword"
              (click)="
                hide == 'password' ? (hide = 'text') : (hide = 'password')
              "
            ></i>
          </span>

          <small
            *ngIf="resetPasswordForm.controls?.['newPassword']?.errors?.['required']"
            class="invalid-feedback text-danger position-absolute"
          >
            Password is required.
          </small>
        </div>

        <!-- Confirm New Password -->
        <div class="mb-3">
          <label for="confirmNewPassword" class="form-label textColor"
            >Confirm New Password:</label
          >
          <input
            type="{{ cnfhide }}"
            class="form-control position-relative"
            id="confirmNewPassword"
            formControlName="confirmNewPassword"
            [ngClass]="{'is-invalid':resetPasswordForm.controls?.['confirmNewPassword']?.invalid && resetPasswordForm.controls?.['confirmNewPassword']?.touched}"
            (keydown)="Space($event)"
          />
          <span class="eye">
            <i
              class="fa fa-{{
                cnfhide == 'password' ? 'eye-slash' : 'eye'
              }} random-eye"
              id="togglePassword"
              (click)="
                cnfhide == 'password'
                  ? (cnfhide = 'text')
                  : (cnfhide = 'password')
              "
            ></i>
          </span>

          <small
            *ngIf="resetPasswordForm.controls?.['confirmNewPassword']?.errors?.['required']"
            class="invalid-feedback text-danger position-absolute"
          >
            Confirm New Password is required.
          </small>
        </div>

        <button
          type="submit"
          class="btn btn-primary btnSubmit"
          (click)="onSubmit()"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
